# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# IDE/editor files
.idea/
*.iml

# Build outputs and generated local files
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
coverage/

# Local machine files
android/.gradle/
android/.kotlin/
android/app/build/
android/local.properties

# Crash logs
hs_err_pid*.log
